@{
    ViewData["Title"] = "About Us";
}
<h3>@ViewData["Title"]</h3>

<p>We rescue dogs and provide them with vet services.  We look for the best homes possible for each and every pet!</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Collage_of_Nine_Dogs.jpg/1200px-Collage_of_Nine_Dogs.jpg" alt="Group of Dogs" />