@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Store</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Pet Store</h2>
        <p>
            The Pet Store offers pets in need of a home for low prices.  Costs are only for the vet care done.  Animals are rescued from all over the United States
        </p>
    </div>
</div>